@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-container{
    @apply w-full flex flex-col gap-4 max-w-xl bg-dark-2 p-4 lg:p-6 rounded-xl
  }
  .form-group{
    @apply flex flex-col gap-4
  }
  .input{
    @apply text-light-1 text-small-regular lg:text-body-normal outline-primary-500 rounded-lg bg-dark-4 px-2 h-10
  }
  .label{ 
    @apply text-light-1 text-small-regular lg:text-body-normal md:text-body-normal
  }
  .btn{
    @apply text-light-1 text-small-semibold md:text-body-medium bg-primary-500 rounded-lg py-2 mt-2 cursor-pointer hover:bg-purple-600
  }
  .profile-box{
    @apply w-full flex gap-4 items-center
  }
  .profile-img-box{
    @apply relative w-14 h-14 lg:w-20 lg:h-20 rounded-full object-cover
  }
  .profile-name{
    @apply text-left text-body-semibold lg:text-heading3-bold text-light-1 tracking-wider
  }
  .floating-btn{
    @apply text-light-1 text-small-regular lg:text-base-regular cursor-pointer
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }


.cl-internal-1ntkffu{
  @apply hidden
}
.cl-internal-1jszspb{
  @apply gap-0 sm:gap-4
}
.cl-internal-1ho4xv{
   @apply hidden sm:block
}
.cl-internal-1w67h8a .cl-internal-1ho4xv{
  @apply block !important
}
.data-\[state\=active\]\:bg-white[data-state=active]{
  background: #0e0e12 !important;
  color: #fff !important;
}
.user-advance-edit .cl-rootBox{
  width: 100% !important;
}
.user-advance-edit .cl-pageScrollBox{
  @apply p-4 lg:p-6
}
.cl-internal-b3fm6y{
  display: none !important;
}
.user-advance-edit .cl-internal-1ee916m{
  width: 100% !important;
  margin: auto 0px !important;
  max-width: 100%;
}
@media (max-width: 600px) {
  .user-advance-edit .cl-card{
    max-width: calc(100vw - 2rem);
  }
}
/* Loader */
.custom-loader {
  width:60px;
  height:60px;
  color: #877EFF;
  --c:linear-gradient(currentColor 0 0);
  background:
    var(--c) 0 38px,
    var(--c) right 18px bottom 18px,
    var(--c) right 18px top    18px,
    var(--c) 18px 18px,
    var(--c) 18px 100%,
    var(--c) 100% 100%,
    var(--c) 100% 0,
    var(--c) 0 0;
  background-repeat: no-repeat;
  animation: l7 1.5s infinite alternate;
}

@keyframes l7 {
  0%    {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  12.5% {background-size: 40px 4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  25%   {background-size: 40px 4px,4px 20px,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  37.5% {background-size: 40px 4px,4px 20px,20px 4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  50%   {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,0    4px,4px 0   ,0    4px,4px 0   }
  62.5% {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 0   ,0    4px,4px 0   }
  75%   {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,0    4px,4px 0   }
  87.5% {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 0   }
  95%,
  100%  {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
}